In [1]:
import pandas as panda
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
dataset = panda.read_csv('NAS.csv')
dataset

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-12-18,19.482599,19.596901,19.025499,19.139799,19.139799,4978496.0
1,2003-12-19,19.368299,19.425501,18.282801,18.454201,18.454201,1410901.0
2,2003-12-22,18.739901,18.739901,17.997101,18.054300,18.054300,137047.0
3,2003-12-23,17.997101,17.997101,17.368700,17.425800,17.425800,229418.0
4,2003-12-24,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4248,2020-10-12,0.709000,0.710000,0.650000,0.676800,0.676800,48320475.0
4249,2020-10-13,0.676800,0.676800,0.600000,0.600600,0.600600,47786200.0
4250,2020-10-14,0.601000,0.640000,0.596200,0.626000,0.626000,37534949.0
4251,2020-10-15,0.626000,0.626000,0.585000,0.605000,0.605000,26737615.0
4252,2020-10-16,0.605000,0.620000,0.601000,0.610600,0.610600,15754218.0

In [5]:
input = dataset.drop('High',axis='columns')
input = dataset.drop('Open',axis='columns')
input = dataset.drop('Low',axis='columns')
input = dataset.drop('Close',axis='columns')
input = dataset.drop('Adj Close',axis='columns')
input = dataset.drop('Volume',axis='columns')
input.head(10)

KeyError: "['High'] not found in axis"